.intro-homepage {
  height: 100%;


}

.intro-homepage .jumbotron {
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.intro-blog .jumbotron {
  /* Full height */
  /* height: 100%; */
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#intro .jumbotron {
  border-radius: unset;

}


.parallax {
  /* background-image:linear-gradient(rgba(255, 255, 255, 255.7), rgba(255, 255, 255, 0.7)),url('/image/website/about-bg.jpg'); */
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  /* padding: 60px 0 40px 0; */
  background-attachment: fixed;


}

.navbar--ontop {
  transition: background-color 0.5s ease;
  background-color: transparent !important;
  box-shadow: unset !important;
  height: 100px;
}

.navbar-brand img {
  height: 35px;
  transition: all 0.5s ease;
}

.navbar--ontop .navbar-brand img {
  height: 45px;
  transition: all 0.5s ease;
}

#mobile-nav-button-close {
  background-color: transparent;
  border: unset;
  color: #fff;
  font-size: 24px;
  z-index: 1070;
  right: 10px;
  top: 10px;
  position: fixed;
}

#mobile-sidebar.mobile--active {
  left: 0;
}

#mobile-sidebar {
  left: 0;
  position: fixed;
  top: 0;
  padding-top: 18px;
  bottom: 0;
  z-index: 1060;
  background: rgba(0, 0, 0, 0.8);
  left: -260px;
  width: 260px;
  overflow-y: auto;
  transition: 0.4s;
}

#mobile-overlay.mobile--active {
  display: block;
}

#mobile-overlay {
  display: none;
  width: 100%;
  height: 100%;
  z-index: 1050;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(0, 0, 0, 0.7);
}


@media (max-width: 360px) {
  #hero-title {
    font-size: 2.5rem;
  }

  .navbar--ontop .navbar-brand img {
    height: 40px;
    transition: all 0.5s ease;
  }
}

@media (max-width: 576px) {


  .fa-sm-2x {
    font-size: 2rem;
  }

}
