@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800&family=Roboto:wght@300;400;500;700;900&display=swap');

$yellow: #F5CB5C;
$white : #E8EDDF;
$c-dark :#242423;
$c-dark-grey :#333533;
$c-grey :#CFDBD5;
$c-white :#E8EDDF;

$body-bg : $c-dark;
// $colors:(
//     "white":      #E8EDDF,
// );
$font-family-base: 'Roboto',
sans-serif;
$btn-font-family: 'Montserrat',
sans-serif;

$theme-colors: ("c-dark": $c-dark,
  "c-dark-grey": $c-dark-grey,
  "c-grey": $c-grey,
  "c-white": $c-white,
  "c-green": #76F5CF,
  "black": #000,
  "blue" :#007bff,
  "green" :#28a745);

.modal-content {
  background-color: $c-dark;

  .modal-header {
    background-color: $c-dark;
    border-color: $c-dark;
    color: $c-white;
  }

  .modal-body {
    background-color: $c-dark;
  }

  .modal-footer {
    background-color: $c-dark;
    border-color: $c-dark;
  }
}

.signature-pad-modal>.modal-body {
  padding-top: unset;
  padding-bottom: unset;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
  ;
}


.intro-homepage {
  height: 100%;


}

.intro-homepage .jumbotron {
  /* Full height */
  height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.intro-blog .jumbotron {
  /* Full height */
  /* height: 100%; */
  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#intro .jumbotron {
  border-radius: unset;

}


.parallax {
  /* background-image:linear-gradient(rgba(255, 255, 255, 255.7), rgba(255, 255, 255, 0.7)),url('/image/website/about-bg.jpg'); */
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  /* padding: 60px 0 40px 0; */
  background-attachment: fixed;


}

@import '~bootstrap/scss/bootstrap';
@import '~bootstrap-vue/dist/bootstrap-vue.css';

$fa-font-path: '~font-awesome/fonts/';
@import "~font-awesome/scss/font-awesome.scss";
